//Warning: Using @at-root sass 3.3 syntax libsass does not yet support
//Generates fade-out animation
//Usage @include fade-out(1s, ease-in-out-sine, hover, 0.5s);

@mixin fade-out($time, $action: null, $easing: linear, $delay: 0) {
  @include ha;
  @include action($action) {
    -webkit-animation: fade-out $time $delay easing($easing);
            animation: fade-out $time $delay easing($easing);
  }

  @at-root {
    @-webkit-keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      };
    }
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      };
    }
  }
}