//Generates fade-in animation
//Usage @include fade-in(1s, ease-in-out-sine, hover, 0.5s);

@mixin fade-in($time, $easing: linear, $action: null, $delay: 0) {
  @warn "Using @at-root sass 3.3 syntax libsass does not yet support";

  @include ha;
  @include action($action) {
    -webkit-animation: fade-in $time $delay $easing;
            animation: fade-in $time $delay $easing;
  }

  @at-root {
    @-webkit-keyframes fade-in {
      0% {
        opacity: 0;
      }
      to {
        opacity: 1;
      };
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      to {
        opacity: 1;
      };
    }
  }
}