//Warning: Using @at-root sass 3.3 syntax libsass does not yet support
//Generates scale-back animation
//Usage @include scale-back(1s, ease-in-out-sine, hover, 0.5s);

@mixin scale-back($time, $scale: 0.95, $action: null, $easing: linear, $delay: 0, $fill: forwards) {
  @include ha;
  @include action($action) {
    -webkit-animation: scale-back $time $delay easing($easing);
            animation: scale-back $time $delay easing($easing);

    -webkit-animation-fill-mode: $fill;
            animation-fill-mode: $fill;
  }

  @at-root {
    @-webkit-keyframes scale-back {
      0% {
        -webkit-transform: scale(1);
            transform: scale(1);
      }
      50% {
        -webkit-transform: scale($scale);
            transform: scale($scale);
      }
      100% {
        -webkit-transform: scale(1);
            transform: scale(1);
      };
    }
    @keyframes scale-back {
      0% {
        -webkit-transform: scale(1);
            transform: scale(1);
      }
      50% {
        -webkit-transform: scale($scale);
            transform: scale($scale);
      }
      100% {
        -webkit-transform: scale(1);
            transform: scale(1);
      };
    }
  }
}