//Warning: Using @at-root sass 3.3 syntax libsass does not yet support
//Generates slide-in-left animation
//Usage @include slide-in-left(1s, ease-in-out-sine, hover, 0.5s);

@mixin slide-in-left($time, $action: null, $easing: linear, $delay: 0, $fill: forwards) {
  @include ha;
  @include action($action) {
    -webkit-animation: slide-in-left $time $delay easing($easing);
            animation: slide-in-left $time $delay easing($easing);

    -webkit-animation-fill-mode: $fill;
            animation-fill-mode: $fill;
  }

  @at-root {
    @-webkit-keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);

        opacity: 0;
      }
      75% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);

        opacity: 0;
      }
      75% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      100% {
        opacity: 1;
      }
    }
  }
}