//Warning: Using @at-root sass 3.3 syntax libsass does not yet support
//Generates slide-in-up animation
//Usage @include slide-in-up(1s, ease-in-out-sine, hover, 0.5s);

@mixin slide-in-up($time, $action: null, $easing: linear, $delay: 0, $fill: forwards) {
  @include ha;
  @include action($action) {
    -webkit-animation: slide-in-up $time $delay easing($easing);
            animation: slide-in-up $time $delay easing($easing);
    -webkit-animation-fill-mode: $fill;
  }

  @at-root {
    @-webkit-keyframes slide-in-up {
      0% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);

        opacity: 0;
      }
      75% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes slide-in-up {
      0% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);

        opacity: 0;
      }
      75% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        opacity: 1;
      }
    }
  }
}